
[data-aos][data-aos][data-aos="fade-right"].fade-right {
    opacity: 1;
    transform: translateZ(0);
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

[data-aos][data-aos][data-aos="fade-up"].fade-up {
    transform: translateZ(0);
    animation: 0.8s ease-out 0s 1 slideInFromTop;
    position: relative;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
